section {
  background-color: var(--base-gray-100);
  padding-bottom: 40px;
}

#services {
  text-align: center;

  header h3 {
    padding-block: 70px 15px;

    color: var(--main-red);
    font: var(--subtitle);
  }

  header h2 {
    padding-bottom: 40px;

    color: var(--base-gray-600);
    font: var(--title-md);
  }
}

.service-card {
  height: 180px;
  width: 300px;
  
  
  border: 2px solid var(--base-gray-300);
  border-radius: 10px;
  text-align: left;
  padding: 20px;

  transition: border 0.3s ease-in-out;

  &:hover {
    border: 3px solid var(--main-red);
    cursor: pointer;
  }
}

.text {
  margin-top: 20px;

  h3 {
    margin-top: 30px;
    font: var(--title-sm);
    color: var(--base-gray-600);
  }

  p {
    margin-top: 10px;
    font: var(--text-sm);
    color: var(--base-gray-500);
  }
}

.service-icon {
  height: 48px;
  width: 48px;
}

#ecran {
  filter:invert(57%) sepia(94%) saturate(2464%) hue-rotate(232deg) brightness(97%) contrast(88%);
}

#api {
  filter: invert(69%) sepia(67%) saturate(345%) hue-rotate(1deg) brightness(145%) contrast(84%);
}

#devops {
  filter: invert(65%) sepia(23%) saturate(863%) hue-rotate(49deg) brightness(170%) contrast(99%);
}